# ignore everything in the root except the "wp-content" directory.
db/

wp-admin
wp-includes
wp-*.php
**/wp-content/languages
**/wp-content/uploads
**/wp-content/upgrade
**/wp-content/plugins
**/wp-content/themes
!**/wp-content/themes/**
!**/wp-content/themes/*/index.php